.messages_content {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 90px 400px 100px;
}
.dialogsList {
  border-right: 3px solid black;
  grid-row: 2;
  background-color: rgb(201, 219, 230);
  display: flex;
  flex-direction: column;
  height: 500px;
  border-top: 3px solid black;
}
.messages_window {
  padding-left: 15px;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.header {
  grid-row: 1;
  grid-column: span 2;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 700;
  font-size: 30px;
}
.item {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  font-weight: 600;
}
.message {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.link {
  text-decoration: 0;
  color: black;
  font-size: 16px;
}
.addMessage {
  grid-column: 2;
  grid-row: 3;
  width: 300px;
  margin-left: 10px;
}
.textarea {
  resize: none;
  padding: 5px;
}
