.usersWrapper {
  display: grid;
  grid-template-rows: 100px 100px 4fr 1fr;
}
.usersList {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  width: 80%;
  height: 20%;
  background-color: rgb(165, 188, 189);
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: white 1px solid;
  border-top: none;
}
.header {
  grid-column: 1;
  grid-row: 1;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 20px;
}
.info {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.name_and_status_box {
  width: 400px;
}
.status {
  margin-top: 50px;
}
.adress {
  width: 100px;
}
.ava {
  width: 120px;
  padding: 20px 0px 0px 20px;
}
.selected {
  font-weight: bold;
}
.pages {
  grid-column: 1;
  grid-row: 2;
  padding-left: 100px;
  font-size: 30px;
  cursor: pointer;
}
.pageNumber{
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 102, 218);
}
.pageNumber:hover{
  background-color: black;
  color: white;
}
.button{
  cursor: pointer;
  padding: 5px;
  width: 30px;
}

