
.friends {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  margin-top: 5px;
  background-color: rgb(106, 158, 209);
  border-radius: 20px;
  border: 0.5px black solid;
}
.friends_word {
  font-weight: 500;
  color: white;
  font-size: 25px;
}
.nav_friends_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
  
  width: 200px;
  height: 220px;

}
