.top_menu {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: rgb(25, 125, 184) solid 2px;
  height: 80px;
  grid-column-start: 1;
  grid-row: 1;
  background-color: rgb(101, 101, 200);
}
.logo {
  font-size: 50px;
  cursor: pointer;
}
.button {
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.link {
  color: rgb(255, 255, 255);
  text-decoration: 0;
}
.loginButton{
  padding: 5px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 10%;
  width: 70px;
}
.loginButton:hover{
  background-color: rgb(190, 190, 243);
}
